@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  min-width: 1440px;
  padding-left: 140px;
  padding-right: 140px;
}

.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.navigation-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.out-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  opacity: 0.3;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.slider-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-describe {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.detail-value {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.detail-characteristic {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.menu-button {
  background: #FFE17F;
}

.service-container {
  background: #F0F0F0;
}

.service-button-current {
  background: #000000;
  color: #FFE17F;
}

.service-describe-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.service-describe-text {
  font-family: inherit;
}

.order {
  background: #F0F0F0;
}

.order-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
}

.contact-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contact-about-us {
  font-family: inherit;
  color: #444444;
}

.contact-company {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contact-about-us-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.subscribe {
  background: #F0F0F0;
}

.subscribe-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-item {
  font-family: inherit;
}

.subscribe-text {
  font-family: inherit;
}

.page-footer {
  background: #444444;
}

.footer-address-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-logo-social {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
}

.contact-phone {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.main-inner {
  color: #000000;
  background: #FFFFFF;
}

.inner-header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  color: #000000;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-products {
  background: #F0F0F0;
}

.filter-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.control {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product-container {
  background: #FFFFFF;
}

.product-card {
  background: #FFFFFF;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-card-price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination-show-more {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  width: 760px;
  height: 55px;
  border: 3px solid #E5E5E5;
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
  background-color: #EBEBEB;
  text-decoration: none;
  line-height: 20px;
  font-weight: 400;
}

.pagination-current {
  color: #444444;
  opacity: 0.6;
  background-color: #EBEBEB;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-prev {
  color: #444444;
  opacity: 0.3;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.pagination-next {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
